data/PACS/art_painting_crossval_kfold.txt filter=lfs diff=lfs merge=lfs -text
data/PACS/art_painting_test.hdf5 filter=lfs diff=lfs merge=lfs -text
data/PACS/cartoon_crossval_kfold.txt filter=lfs diff=lfs merge=lfs -text
data/PACS/cartoon_train_kfold.txt filter=lfs diff=lfs merge=lfs -text
data/PACS/photo_train_kfold.txt filter=lfs diff=lfs merge=lfs -text
data/PACS/photo_val.hdf5 filter=lfs diff=lfs merge=lfs -text
data/PACS/sketch_crossval_kfold.txt filter=lfs diff=lfs merge=lfs -text
data/PACS/sketch_test.hdf5 filter=lfs diff=lfs merge=lfs -text
data/PACS/art_painting_test_kfold.txt filter=lfs diff=lfs merge=lfs -text
data/PACS/art_painting_train_kfold.txt filter=lfs diff=lfs merge=lfs -text
data/PACS/cartoon_val.hdf5 filter=lfs diff=lfs merge=lfs -text
data/PACS/sketch_train_kfold.txt filter=lfs diff=lfs merge=lfs -text
data/PACS/sketch_val.hdf5 filter=lfs diff=lfs merge=lfs -text
data/PACS/art_painting_train.hdf5 filter=lfs diff=lfs merge=lfs -text
data/PACS/cartoon_test_kfold.txt filter=lfs diff=lfs merge=lfs -text
data/PACS/photo_crossval_kfold.txt filter=lfs diff=lfs merge=lfs -text
data/PACS/sketch_test_kfold.txt filter=lfs diff=lfs merge=lfs -text
data/PACS/art_painting_val.hdf5 filter=lfs diff=lfs merge=lfs -text
data/PACS/cartoon_test.hdf5 filter=lfs diff=lfs merge=lfs -text
data/PACS/cartoon_train.hdf5 filter=lfs diff=lfs merge=lfs -text
data/PACS/photo_test.hdf5 filter=lfs diff=lfs merge=lfs -text
data/PACS/photo_test_kfold.txt filter=lfs diff=lfs merge=lfs -text
data/PACS/photo_train.hdf5 filter=lfs diff=lfs merge=lfs -text
data/PACS/readme.txt filter=lfs diff=lfs merge=lfs -text
data/PACS/sketch_train.hdf5 filter=lfs diff=lfs merge=lfs -text
